<header class="w-full absolute z-10">
  <nav class="max-w-[1440px] mx-auto flex justify-between items-center sm:px-16 px-6 py-8">
    <a routerLink="/" class="py-[10px]">
      <img
        [src]="isSignupValidation ? 'assets/images/mybike-high-resolution-logo-white-transparent.svg' : 'assets/images/mybike-high-resolution-logo-transparent.svg'"
        alt="MyBike Logo"
        class="object-contain w-[167px] h-[31px]"
      />
    </a>
    <ng-container *ngIf="!(isSignForms || isSignupValidation || isCards || isAccount)">
      <div class="flex gap-2">
        <div class="hidden xl:flex items-center">
          <app-product-search-bar-header></app-product-search-bar-header>
        </div>
        <div class="hidden xl:block relative">
          <a routerLink="/cards">
            <button class="button__white__icon">
              <img src="assets/images/cart-shopping-solid-blue.svg" alt="cart shopping logo" class="w-6 h-6">
              <span class="absolute -bottom-1 -left-1 bg-red-500 text-white w-6 h-6 flex items-center justify-center rounded-full text-xs">4</span>
            </button>
          </a>
        </div>
        <div class="hidden xl:block">
          <a routerLink="/account">
            <button class="button__white__icon">
              <img src="assets/images/user-solid-blue.svg" alt="user logo" class="w-6 h-6">
            </button>
          </a>
        </div>
        <div class="hidden xl:block">
          <a routerLink="/sign-forms">
            <button class="button__white">Connexion</button>
          </a>
        </div>
        <div class="xl:hidden"
             [ngClass]="!isMenuOpen ? 'block' : 'w-0 overflow-hidden'"
        >
          <button
            class="button__blue"
            (click)="onClickHamburgerButton()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
          </button>
        </div>
      </div>
    </ng-container>
  </nav>
</header>

<div [ngClass]="isMenuOpen ? 'w-[100%]' : 'w-0'"
     class="fixed bg-primary-blue opacity-95 text-white h-[100vh] flex justify-center items-center text-[40px] tracking-[1px] z-10 overflow-hidden origin-left duration-500">
  <ul>
    <li class="hover:text__shadow duration-100 hover:translate-y-[-5px]">
      <a routerLink="/">Accueil</a>
    </li>
    <li class="hover:text__shadow duration-100 hover:translate-y-[-5px]">
      <a routerLink="/account">Compte</a>
    </li>
    <li class="hover:text__shadow duration-100 hover:translate-y-[-5px]">
      <a routerLink="/">Panier</a>
    </li>
    <li class="hover:text__shadow duration-100 hover:translate-y-[-5px]">
      <a routerLink="/sign-forms">Connexion</a>
    </li>

  </ul>
  <div>
    <!-- close button -->
    <button class="absolute top-[30px] right-[7vh]" (click)="onClickHamburgerButton()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
</div>
