<div class="flex items-center p-4 border-b border-gray-200">
  <div>
    <img class="h-48 w-48 object-contain" [src]="product.images[0]" alt="Product Image">
  </div>
  <div class="ml-4 flex-1 flex justify-between items-center">
    <div class="flex flex-col gap-2">
      <p class="text-2xl font-medium text-gray-900">{{product.brand}} {{product.name}}</p>
      <p class="text-sm text-gray-500">{{product.kilometers}} kms</p>
      <p class="text-sm text-gray-500">{{product.buildProductionYear}}</p>
      <p class="text-sm text-gray-500">{{product.color}}</p>
    </div>
    <p class="text-xl font-semibold text-primary-blue">{{product.price}}€</p>
    <button (click)="delProduct()" class="text-gray-500 hover:text-red-500 focus:outline-none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
</div>
