<div class="hero">
  <div class="flex-1 pt-44 padding-x">
    <h1 class="hero__title">
      Trouvez la moto de vos rêves facilement
    </h1>

    <p class="hero__subtitle">
      Laissez vous séduire par notre large gamme de motos disponibles à l’achat ou à la location.
    </p>
    <button class="button__blue px-10 mt-10">Explorez</button>
  </div>
  <div class="hero__image-container">
    <div class="hero__image">
      <img src="../../../assets/images/z650.webp" alt="hero" class="object-contain" />
    </div>

    <div class="hero__image-overlay"></div>
  </div>
</div>
<app-product-catalogue></app-product-catalogue>

