<div class="relative flex items-center">
  <img
    [src]="'../../../../assets/images/' + inputIcon + '.svg'"
    alt="input field logo"
    class="absolute left-3 w-5 h-5 opacity-50"
  />
  <input
    [(ngModel)]="searchInputField"
    (input)="onSearchInputChange(searchInputField)"
    [placeholder]="placeholder"
    type="text"
    class="pl-10 pr-4 py-2 duration-150 hover:shadow-md focus:box__shadow daisy-input rounded-[20px] bg-gray-100 text-primary-blue placeholder-black placeholder-opacity-60 focus:border-primary-blue focus:outline-0"
  />
</div>
