<section class="min-h-screen overflow-hidden py-[12rem] section-p-m">
  <div class="flex gap-24">
    <div class="flex flex-col items-center gap-4">
      <h1 class="text-2xl">Bonjour <span class="font-bold text-primary-blue">Joé</span></h1>
      <div class="rounded-full h-48 w-48 bg-gray-300 flex items-center justify-center">
        <img src="placeholder.jpg" alt="Profile Picture" class="rounded-full h-20 w-20">
      </div>
      <div tabindex="0" class="daisy-collapse daisy-collapse-open border border-primary-blue">
        <input type="checkbox" checked />
        <div class="daisy-collapse-title bg-white text-xl font-medium">
          <div class="flex items-center gap-2">
            <img src="assets/images/user-solid.svg" class="h-5 w-5">
            <h1 class="font-bold">Mon compte</h1>
          </div>
          <div class="flex flex-col gap-1">
            <span>Mes informations personnelles</span>
          </div>
          <div class="flex flex-col gap-1">
            <span>Mes cartes enregistrées</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p>test</p>
    </div>
  </div>
</section>
