<section class="min-h-screen overflow-hidden py-[12rem] section-p-m">
  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-1 flex flex-col items-center gap-4 rounded-xl p-5 shadow-xl">
      <h1 class="text-2xl">Bonjour <span class="font-bold text-primary-blue">Joé</span></h1>
      <img src="assets/images/orangutan_sunglasses.png" alt="Profile Picture" class="rounded-full h-52 w-52 border border-primary-blue">
      <div tabindex="0" class="daisy-collapse daisy-collapse-open">
        <input type="checkbox" checked />
        <div class="daisy-collapse-title bg-white text-xl font-medium">
          <div class="flex items-center gap-2">
            <img src="assets/images/user-solid.svg" class="h-5 w-5">
            <h1 class="font-bold">Mon compte</h1>
          </div>
          <div class="flex flex-col gap-1">
            <span>Mes informations personnelles</span>
          </div>
          <div class="flex flex-col gap-1">
            <span>Mes cartes enregistrées</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-3 rounded-xl shadow-xl p-5">
      <p>Mes informations personnelles</p>
    </div>
  </div>
</section>
