<section class="relative flex min-h-screen flex-col justify-center overflow-hidden py-[7rem] px-[2rem]">
  <div class="relative w-full py-8 shadow-xl ring-1 ring-gray-900/5 mx-auto max-w-screen-xl rounded-lg px-10">
    <div class="xl:flex xl:flex-row items-center flex flex-col">
      <!-- Connection section -->
      <div class="flex flex-col basis-1/3 items-center gap-3">
        <h1 class="text-2xl font-extrabold">Connexion</h1>
        <div class="flex gap-4">
          <a href="/sign-forms">
            <img
              src="../../../assets/images/google_logo.svg"
              alt="Google logo"
              class="object-contain w-[35px] h-[35px]"
            />
          </a>
          <a href="/sign-forms">
            <img
              src="../../../assets/images/facebook_logo.svg"
              alt="Facebook logo"
              class="object-contain w-[35px] h-[35px]"
            />
          </a>
        </div>
        <p class="text-sm text-center">ou connectez vous avec votre compte</p>
        <form class="flex flex-col gap-3 items-center" [formGroup]="signinForm" (ngSubmit)="onSubmitSignin()">
          <app-custom-input [control]="signinInfo.email" placeholder="Email" errorMessage="Email valide requis"></app-custom-input>
          <app-custom-input [control]="signinInfo.password" placeholder="Mot de passe" errorMessage="Mot de passe valide requis"></app-custom-input>
          <div class="flex items-center gap-2">
            <input type="checkbox" class="daisy-checkbox daisy-checkbox-primary [--chkfg:white]" />
            <p class="text-[12px] font-bold">Restez connecté</p>
          </div>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <p class="text-[12px] font-bold">Mot de passe oublié ?</p>
          </a>
          <button class="button__blue">Connexion</button>
        </form>
      </div>
      <div class="daisy-divider xl:hidden">ou</div>
      <!-- Inscription section -->
      <div class="flex flex-col basis-2/3 items-center gap-3">
        <h1 class="text-2xl font-extrabold">Inscription</h1>
        <div class="flex gap-4">
          <a href="/sign-forms">
            <img
              src="../../../assets/images/google_logo.svg"
              alt="Google logo"
              class="object-contain w-[35px] h-[35px]"
            />
          </a>
          <a href="/sign-forms">
            <img
              src="../../../assets/images/facebook_logo.svg"
              alt="Facebook logo"
              class="object-contain w-[35px] h-[35px]"
            />
          </a>
        </div>
        <p class="text-sm text-center">ou inscrivez-vous à partir de votre email</p>
        <!-- Input Fields -->
        <form class="flex flex-col gap-2 items-center" [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
          <div class="grid grid-cols-2 gap-2">
            <app-custom-input class="grid sm:col-span-1 col-span-2" [control]="signupInfo.firstName" placeholder="Prénom" errorMessage="Prénom requis"></app-custom-input>
            <app-custom-input class="grid sm:col-span-1 col-span-2" [control]="signupInfo.lastName" placeholder="Nom" errorMessage="Nom requis"></app-custom-input>
            <app-custom-input class="grid sm:col-span-1 col-span-2" [control]="signupInfo.email" placeholder="Email" errorMessage="Email valide requis"></app-custom-input>
            <app-custom-input class="grid sm:col-span-1 col-span-2" [control]="signupInfo.phoneNumber" placeholder="Numéro de téléphone" errorMessage="Numéro de téléphone valide requis"></app-custom-input>
            <div class="flex flex-col gap-2">
              <select class="default__select sm:col-span-1 col-span-2" formControlName="gender">
                <option value="" disabled selected>Sexe</option>
                <option class="text-primary-blue">Homme</option>
                <option class="text-primary-blue">Femme</option>
              </select>
              <span class="daisy-label-text-alt text-red-500 text-xs" *ngIf="signupForm.controls.gender?.invalid && signupForm.controls.gender?.dirty">Sexe requis</span>
            </div>


            <app-custom-input class="grid sm:col-span-1 col-span-2" [control]="signupInfo.birthDate" placeholder="Date de naissance" errorMessage="Date de naissance valide requise"></app-custom-input>
            <app-custom-input class="grid col-span-2" [control]="signupInfo.password" placeholder="Mot de passe" errorMessage="Mot de passe valide requis"></app-custom-input>
            <app-custom-input class="grid col-span-2" [control]="signupInfo.passwordConfirmation" placeholder="Confirmer le mot de passe" errorMessage="Confirmation de mot de passe valide requis"></app-custom-input>
          </div>
          <h2 class="text-l font-bold text-left self-start">Adresse</h2>
          <div class="grid grid-cols-2 gap-2">
            <app-custom-input class="grid col-span-2" [control]="signupInfo.location" placeholder="Numéro de voie et voie" errorMessage="Numéro de voie et voie requis"></app-custom-input>
            <app-custom-input class="grid sm:col-span-1 col-span-2" [control]="signupInfo.city" placeholder="Ville" errorMessage="Ville requise"></app-custom-input>
            <app-custom-input class="grid sm:col-span-1 col-span-2" [control]="signupInfo.postalCode" placeholder="Code postal" errorMessage="Code postal requis"></app-custom-input>
          </div>
          <button class="button__blue">Inscription</button>
        </form>
      </div>
    </div>
  </div>
</section>
