// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary-palette: (
  50: #e2f3ff,
  100: #b9e1ff,
  200: #87cfff,
  300: #45bbff,
  400: #00abff,
  500: #009aff,
  600: #008aff,
  700: #0076ff,
  800: #0f63fe,
  900: #293cdf,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tp05_feucht_joe-primary: mat.define-palette($primary-palette);
$tp05_feucht_joe-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$tp05_feucht_joe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tp05_feucht_joe-theme: mat.define-light-theme(
  (
    color: (
      primary: $tp05_feucht_joe-primary,
      accent: $tp05_feucht_joe-accent,
      warn: $tp05_feucht_joe-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tp05_feucht_joe-theme);
