@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding {
  @apply sm:px-16 px-8 sm:py-24 py-12;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.button__blue {
  @apply daisy-btn bg-primary-blue hover:shadow-lg hover:opacity-90 text-[16px] hover:bg-primary-blue rounded-[25px] text-white font-light px-10
}

.button__white {
  @apply daisy-btn bg-white hover:shadow-lg hover:opacity-90 text-[16px] hover:bg-white rounded-[25px] text-primary-blue font-light px-10
}

.button__white__blue__border {
  @apply daisy-btn border-[1px] hover:border-primary-blue border-primary-blue bg-white hover:shadow-md hover:opacity-90 text-[16px] hover:bg-white rounded-[25px] text-primary-blue font-light px-10
}

@layer utilities {
  .text__shadow {
    text-shadow: -3px 3px 0 #525252;
  }
}

@layer utilities {
  .box__shadow {
    -webkit-box-shadow: 5px 5px 6px -3px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 6px -3px rgba(0,0,0,0.5);  }
}
