<div class="hidden xl:flex items-center">
  <div class="relative">
    <input
      type="text"
      class="rounded-[25px] bg-gray-100 text-[16px] text-primary-blue placeholder-primary-blue font-light duration-300 hover:opacity-95 focus:opacity-95 focus-visible:outline-none py-[11px] hover:box__shadow focus:box__shadow padding-x"
      placeholder="Recherchez votre modèle..."
    />
    <img
      src="../../../../assets/images/magnifying-glass-solid.svg"
      alt="Magnifying glass"
      class="absolute right-4 top-1/2 transform -translate-y-1/2 w-[24px] h-[24px]"
    />
  </div>
</div>
