<div class="hero">
  <div class="flex-1 pt-44 padding-x">
    <h1 class="hero__title">
      Cherchez et trouvez la moto de vos rêves facilement
    </h1>

    <p class="hero__subtitle">
      Laissez vous séduire par notre large gamme de motos disponibles à l’achat ou à la location.
    </p>

    <button>button</button>
  </div>
  <div class="hero__image-container">
    <div class="hero__image">
      <img src="/assets/z650.webp" alt="hero" class="object-contain" />
    </div>

    <div class="hero__image-overlay"></div>
  </div>
</div>
